#emailError, #passwordError {
    display: none;
}

#emailError.invalid, #passwordError.invalid {
    color: red;
    display: block;
}

#emailError.valid, #passwordError.valid {
    color: green;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

label, input, span {
    margin-bottom: 10px;
}

#successMessage{
    display: none;
    color: green;
    margin-top: 5px;
}